#header {
  background-image: url("images/header_bg.jpg");
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cinzel", serif;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

#name {
  margin: 0;
}

/* #drawer {
  background-image: url("images/header_bg.jpg");
  background-size: auto;
} */

#back-to-top-anchor {
  margin-top: 24px;
}
